@using RentalManagement.ViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rental Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="~/Home">Home</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Index", "UserJobs")'>
                    Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Index", "UserRentals")'>Rentals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Index", "UserEquipments")'>Equipments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("Index", "UserVendors")'>Vendors</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Reports</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href='@Url.Action("Index", "UserReports")'>Reports</a>
                    <a class="dropdown-divider"></a>
                    <a class="dropdown-header" style="font-size: 10px">Reports by Categories</a>
                    <a class="dropdown-item" href='@Url.Action("ByJobs", "UserReports")'>By Jobs</a>
                    <a class="dropdown-item" href='@Url.Action("ByEquipments", "UserReports")'>By Equipments</a>
                    <a class="dropdown-item" href='@Url.Action("ByVendors", "UserReports")'>By Vendors</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LogOut", "Login")">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("LogOut", "Login")'>
                    <img src="~/Images/logout-512.png" height="20" />
                </a>
            </li>
        </ul>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    @*<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>*@
</body>
</html>