@model IEnumerable<RentalManagement.Models.Rental>
@{
    ViewBag.Title = "Rentals";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    } else if(Session["userName"].ToString() != "admin") {
        Response.Redirect("~/User/Index");
    }
    else
    {
        <!-- Current Login status -->
        <h6>
            Logged in as:
            <font color="#DF691A">
                <b>
                    @Session["userName"].ToString()
                </b>
            </font>
        </h6>
    }
}

<h3>Rentals</h3>
<style>
    th {
        background-color: rgba(50, 115, 220, 0.15);
    }
</style>
<p>
    @Html.ActionLink("Create new rental", "Create")
</p>

<form asp-controller="Rentals" asp-action="Index">
    <p>
        Rental ID: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-bordered table-hover table-active table-primary">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.rentalID)</th>
            <th>@Html.DisplayNameFor(model => model.receiveDate)</th>
            <th>@Html.DisplayNameFor(model => model.returnDate)</th>
            <th>@Html.DisplayNameFor(model => model.buyRent)</th>
            <th>@Html.DisplayNameFor(model => model.receiveDoc)</th>
            <th>@Html.DisplayNameFor(model => model.returnDoc)</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.rentalID)</td>
            <td>@Html.DisplayFor(modelItem => item.receiveDate)</td>
            <td>@Html.DisplayFor(modelItem => item.returnDate)</td>
            <td>@Html.DisplayFor(modelItem => item.buyRent)</td>
            <td>@Html.DisplayFor(modelItem => item.receiveDoc)</td>
            <td>@Html.DisplayFor(modelItem => item.returnDoc)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.rentalID }) |
                @Html.ActionLink("Details", "Details", new { id = item.rentalID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.rentalID })
            </td>
        </tr>
    }
</table>
