@model IEnumerable<RentalManagement.Models.Vendor>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else
    {
        <!-- Current Login status -->
        <h6>
            Logged in as:
            <font color="#DF691A">
                <b>
                    @Session["userName"].ToString()
                </b>
            </font>
        </h6>
    }
}
<style>
    th {
        background-color: rgba(50, 115, 220, 0.15);
    }
</style>
<h2> Vendors</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vendorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
        </tr>
    }
</table>
